<div class="header">
    <div class="header__left">
        <mat-icon class="header__sidebar-icon">menu</mat-icon>
        <img
            [routerLink]="['/search-page']"
            class="header__logo"
            src="/assets/logo.svg"
            alt="youtube logo"
        />
    </div>
    <form
        class="header__middle"
        #searchForm="ngForm"
        (ngSubmit)="submit(searchForm)"
    >
        <mat-form-field class="header__search" appearance="fill">
            <mat-label>Query</mat-label>
            <input
                ngModel
                matInput
                #search="ngModel"
                placeholder="Enter a query"
                name="search"
                id="search"
                class="header__input"
                type="search"
                required
                [matAutocomplete]="auto"
            />
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option
                    *ngFor="let option of searchHistory"
                    [value]="option"
                >
                    <span style="margin-right: 5px" class="material-icons"
                        >history</span
                    >
                    {{ option }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button
            class="header__search-button"
            type="submit"
            [disabled]="!searchForm.valid"
        >
            <mat-icon class="header__icon">search</mat-icon>
        </button>
    </form>
    <p class="header__history-link" [routerLink]="['/history']">History</p>
</div>
