<div class="comments-section__add-comment" *ngIf="operation === 'comment'">
    <mat-form-field class="form-field">
        <mat-label>Enter your {{ operation }}</mat-label>
        <input
            matInput
            [(ngModel)]="myText"
            (click)="showAddCommentButtons()"
        />
    </mat-form-field>
    <div class="add-comment__buttons" *ngIf="isAddCommentButtonsActive">
        <button mat-button (click)="hideAddCommentButtons()">CANCEL</button>
        <button mat-flat-button [disabled]="!myText" color="primary">
            SUBMIT {{ operation | uppercase }}
        </button>
    </div>
</div>
